<footer class="relative flex px-24 py-8 text-justify items-center justify-center text-white">
  <p class="text-sm">
    copyright © 2023 Misael Project All Rights Reserved
  </p>
</footer>

<style>
  footer {
    background-color:#2c2c2c;
  }
</style>