---
import { Icon } from "astro-icon";
import { Image } from '@astrojs/image/components';
import  HALOHYONC from "~/assets/HALOHYONC.png"
import type { NavItem } from "~/types";


const navItems: Array<NavItem> = [
  { title: "Home", url: "#" },
  { title: "Message", url: "#message" },
  { title: "Illusts", url: "#illust" },
  { title: "Stories", url: "#articles" },
  { title: "Clinix", url: "#clinic" },
  // { title: "Affiliates", url: "#affiliates" },
  { title: "Video", url: "#videos" },
];
---

<header
  id="page-header"
  class="absolute bottom-0 z-20 flex w-full items-center justify-between border-b px-8 py-0 fixed-header"
>
  <a class="flex items-center py-1" href="#">
    <Image src={HALOHYONC} alt={"halohyon"} height={50}; />
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="text-sm" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn sm:hidden"
        aria-label="Navigation"
      >
        <Icon pack="mdi" name="menu" class="h-8" />
      </button>
    </div>
  </div>
</header>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    background-color:#ffffff;
    @apply fixed top-0 bottom-auto;
    @apply border-default;
  }
  .modal.is-open {
    @apply block;
  }
</style>
