---
import misaelLogoWithText from "~/assets/misaelLogoWithText.png"

const { img, title, link } = Astro.props;
---

<a href={link}>
  <div class=" bg-white border border-gray-200 rounded-lg shadow items-center" style={{height: 1000, width:1000}}>
    <img width="200" class="rounded-t-lg" src={img} alt="" />
    <div class="p-5 flex flex-col items-center">
      <h5 class="flex mb-2 text-l font-bold tracking-tight text-red-900">{title}</h5>
    </div>
  </div>
</a>
