---
import ContentSection from "~/components/content-section.astro";
import { YouTube } from '@astro-community/astro-embed-youtube';
---
<div class="items-center">
  <ContentSection title="Buy various Hyona products, from ligma to hyonamins without having to leave the house. Don't miss various attractive promos and discounts for your purchases, check now!" id="videos">
  </ContentSection>
  <br>
  <div class="mx-auto">
    <YouTube class="mx-auto" id="dQw4w9WgXcQ" />
  </div>
  <br>
  <br>
  <br>
</div>
