---
import ContentSection from "~/components/content-section.astro";
import { YouTube } from '@astro-community/astro-embed-youtube';
---
<div class="items-center">
  <ContentSection title="Buy various Hyona products, from ligma to hyonamins without leave the house. Check now!" id="videos">
  </ContentSection>
  <br>
  <div class="mx-auto">
    <YouTube class="mx-auto" id="u8M_CfbyqIs" />
  </div>
  <br>
  <br>
  <br>
</div>
